<form method="post">

    Title: <input type="text" id="" name="title" /> <br />
    Budget : <input type="number" id="" name="budget" /> <br />
    Overview: <input type="text" id="" name="overview" />
    <input type="submit" value="Save Movie" id="btnSumit" name="SaveMovieButton" />



</form>